<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container body-content">
        <h2>@ViewBag.Title</h2>
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function() {
            $("#btnSubmit").click(function() {
                if ($("#inputForm").valid()) {
                    $("#results").text("Loading...");
                }
            });
        });
        $.validator.addMethod("dategreaterthan", function (value, element, params) {
            return Date.parse(value) > Date.parse($(params).val()) && (Date.parse(value) - Date.parse($(params).val()))/(3600000*24) <= 61;
        });
        $.validator.unobtrusive.adapters.add("dategreaterthan", ["otherpropertyname"], function (options) {
            options.rules["dategreaterthan"] = "#" + options.params.otherpropertyname;
            options.messages["dategreaterthan"] = options.message;
        });
        $.validator.addMethod("datelesserthan", function (value, element, params) {
            return Date.parse(value) < Date.parse($(params).val()) && (Date.parse($(params).val()) - Date.parse(value)) / (3600000 * 24) <= 61;
        });
        $.validator.unobtrusive.adapters.add("datelesserthan", ["otherpropertyname"], function (options) {
            options.rules["datelesserthan"] = "#" + options.params.otherpropertyname;
            options.messages["datelesserthan"] = options.message;
        });
        $.validator.addMethod('validateage', function (value, element, params) {
            return Date.parse(value) >= Date.parse(params.minumumdate) && Date.parse(value) <= Date.parse(params.maximumdate);
        });
        $.validator.unobtrusive.adapters.add('validateage', ['minumumdate', 'maximumdate'], function(options) {
            var params = {minumumdate: options.params.minumumdate,maximumdate: options.params.maximumdate};
            options.rules['validateage'] = params;
            options.messages['validateage'] = options.message;
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>